[core]
	pager = delta
	editor = hx
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[merge]
	conflictStyle = zdiff3
[user]
	email = {{ .gitEmail }}
	name = {{ .gitName }}
{{- if .use1Password }}
	signingkey = {{ .gitSigningKey }}
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- else }}
	program = /opt/1Password/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
{{- end }}
[credential]
	helper = cache
