
Host *
{{- if .use1Password }}
{{- if eq .chezmoi.os "darwin" }}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- else }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}
{{- end }}
    ForwardAgent yes

Host universe-647
    HostName 100.90.85.99
    User bamarler
