# /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  #
# default Monitor config

# *********************************************************** #
# 
# NOTE: This will be overwritten by NWG-Displays 
# once you use and click apply. You can still find this
# default at ~/.config/hypr/Monitor_Profiles/default.conf
#
# *********************************************************** #


# Monitor Configuration
# See Hyprland wiki for more details
# https://wiki.hyprland.org/Configuring/Monitors/
# Configure your Display resolution, offset, scale and Monitors here, use `hyprctl monitors` to get the info.

# Monitors
monitor=,preferred,auto,1

# High Refresh Rate
monitor=,highrr,auto,1

# High Resolution
monitor=,highres,auto,1

monitor = {{ .monitorConfig }}

# External monitor: Samsung S27D390 (1080p), scaled out a bit, placed right of laptop
# Matched by description (make/model/serial) so it follows this panel across any port
monitor = desc:Samsung Electric Company S27D390 0x30324B4B, 1920x1080@60, auto-right, 0.8

